.container {
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    width: 180px;
    background: #3cb878;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 5px 2px grey;  
  }
  
  #email {
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px;
    border: solid thin #cfcfcf;
    border-radius: 3px;
    box-sizing: border-box;
    
  }
  
  button {
    display: block;
    width: 100%;
    color: white;
    background: #3cb878;
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .newslatter-box {
    color: grey;
    border: solid thin #cfcfcf;
    border-radius: 3px;
    padding: 10px;
    position: relative;
   
  }
  
  .newslatter-box h3 {
    margin-top: 0px;
  }
  
  #terms {
    position: relative;
    top: 2px;
    left: 0px;
  }
  
  .closex {
    position: absolute;
    top: 0px;
    right: 7px;
  }
  
  .questioncircle {
    color: white;
    font-size: 70px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #3cb878;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }